/* =========================
        GLOBAL STYLES
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family: "Inter", "Segoe UI", sans-serif;

    background:#F5F5F7;

    color:#111827;

    padding-top:90px;

    overflow-x:hidden;
}

/* Selection */

::selection{

    background:#111827;

    color:white;
}

/* Links */

a{

    text-decoration:none;

    color:inherit;
}

/* Images */

img{

    max-width:100%;

    display:block;
}

/* Buttons */

button{

    font-family:inherit;

    cursor:pointer;
}